
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/css/contact.css" rel="stylesheet" />
<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/style6.css" rel="stylesheet" />
<!-- banner -->
<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    <a href="index.html">Trang chủ</a>
                    <i>|</i>
                </li>
                <li>Xác nhận Email</li>
            </ul>
        </div>
    </div>

</div>
<!--//banner -->
<!-- top Products -->
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container">
        <h3 class="tittle-w3layouts text-center my-lg-4 my-4">Xác minh tài khoản E-Components Store</h3>
        <div class="inner_sec">
           

            <!--//breadcrumbs-->
            @if (ViewBag.Message != "emailConfirmed")
            {
                <div class="contact_grid_right">
                    
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left">
                            <h4>@ViewBag.Email</h4>
                            <b class="text-danger" style="color:#ff0000">@ViewBag.Message</b>
                        </div>
                        <div class="form-group">
                            @using (Html.BeginForm("ConfirmEmail", "Member", FormMethod.Post))
                            {
                            <div class="form-group">
                                <input type="text" name="ID" value="@ViewBag.ID" hidden="hidden" />
                                <input type="text" class="form-control" name="capcha" placeholder="Nhập vào mã xác minh" required="">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="form-control" name="Sign In" value="Xác minh">
                            </div>
                            }
                        <div class="form-group">
                            <u>
                                @Html.ActionLink("Gửi lại mã xác minh!", "ConfirmEmail", new { id = ViewBag.ID })
                            </u>
                        </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
                    <h2 class="title">Tài khoản của bạn đã được xác minh thành công!</h2>
                </div>
            }
        </div>
    </div>
</section>

