<li class="galssescart galssescart2 cart cart box_1">
    <button class="top_googles_cart" id="DivCart" type="submit" name="submit" value="">
        @ViewBag.TotalPrice ₫ (@ViewBag.TotalQuanity)
        <i class="fas fa-cart-arrow-down"></i><br />
        @Html.ActionLink("Xem Giỏ Hàng", "Checkout", "Cart")
    </button>
</li>
