@{ 
    IEnumerable<electronicComponents.DAL.Product> products = ViewBag.listFeatured;
}
<div class="slider-img mid-sec mt-lg-5 mt-2">
    <!--//banner-sec-->
    <h3 class="tittle-w3layouts text-left my-lg-4 my-3">Bán chạy</h3>
    <div class="mid-slider">
        <div class="owl-carousel owl-theme row">
            @foreach (var item in products)
            {
                <div class="item">
                    <div class="gd-box-info text-center">
                        <div class="product-men women_two bot-gd">
                            <div class="product-googles-info slide-img googles">
                                <div class="men-pro-item">
                                    <div class="men-thumb-item">
                                        <img src="@Url.Content("~/Content/images/"+item.image1)" style="height:250px;width:300px" class="img-fluid" alt="">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="single.html" class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>
                                    </div>
                                    <div class="item-info-product">

                                        <div class="info-product-price">
                                            <div class="grid_meta">
                                                <div class="product_price">
                                                    <h4>
                                                        <a href="single.html">@item.name</a>
                                                    </h4>
                                                    <div class="grid-price mt-2">
                                                        <span class="money ">@item.price</span>
                                                    </div>
                                                </div>
                                                <ul class="stars">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="googles single-item hvr-outline-out">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="googles_item" value="MARTIN Aviator">
                                                    <input type="hidden" name="amount" value="425.00">
                                                    <button type="submit" class="googles-cart pgoogles-cart">
                                                        <i class="fas fa-cart-plus"></i>
                                                    </button>
                                                </form>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            }

        </div>
    </div>
</div>

