
@{
    ViewBag.Title = "Incompetent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/AdminStyle/fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
<div class="main-content">


    <!-- content -->
    <div class="container-fluid content-top-gap">
        <h2>Chưa có quyền vào đây làm gì bạn ơi :)</h2>
    </div>
</div>
