
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="~/AdminStyle/css/style-starter.css" rel="stylesheet" />
    <!-- Google fonts -->
    <link href="~/AdminStyle/Login/fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="~/AdminStyle/Login/css/style.css" type="text/css" media="all" />
</head>
<body>

    @if (ViewBag.Message == "Success")
    {
<script>
    swal({
        title: "Thông báo",
        text: "Tên đăng nhập hoặc tài khoản không đúng!",
        icon: "error",
        timer: 1500
    });
</script> @(ViewBag.Message = null)}
    <section>

        <!-- content -->
        <div class="">
            <!-- login form -->
            <section class="login-form py-md-5 py-3">
                <div class="card card_border p-md-4">
                    <div class="card-body">
                        <!-- form -->
                        @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                        {
                            <div class="login__header text-center mb-lg-5 mb-4">
                                <h3 class="login__title mb-2"> Login</h3>
                                <p>Welcome back, login to continue</p>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="input__label">Username</label>
                                <input type="text" name="userName" class="form-control login_text_field_bg input-style" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="" autofocus="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="input__label">Password</label>
                                <input type="password" name="passwordd" class="form-control login_text_field_bg input-style" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <p class="text text-danger">@ViewBag.Message</p>
                            <div class="form-check check-remember check-me-out">
                                <input type="checkbox" class="form-check-input checkbox" id="exampleCheck1">
                                <label class="form-check-label checkmark" for="exampleCheck1">Remember me</label>
                            </div>
                            <div class="d-flex align-items-center flex-wrap justify-content-between">
                                <button type="submit" class="btn btn-primary btn-style mt-4">Login now</button>
                            </div>
                        }
                        <!-- //form -->
                        <p class="backtohome mt-4"><a href="index.html" class="back"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back to Home </a></p>
                    </div>
                </div>
            </section>

        </div>
        <!-- //content -->

    </section>
    <!-- <div class="signinform">
        <h4></h4>

        <div class="container">

            <div class="w3l-form-info">
                <div class="w3_info">
                    <form action="#" method="post">
                        <div class="input-group">
                            <span><i class="fas fa-user" aria-hidden="true"></i></span>
                            <input type="text" placeholder="Tên đăng nhập" required="" name="userName">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="Password" placeholder="Mật khẩu" required="" name="passwordd">
                        </div>
                        <div class="form-row bottom">
                            <div class="form-check">
                                <input type="checkbox" id="remenber" name="remenber" value="remenber">
                                <label for="remenber"> Nhớ mật khẩu?</label>
                            </div>
                            <a href="#url" class="forgot">Quên mật khẩu?</a>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
                    </form>

                </div>
            </div>

        </div>

        <div class="footer">
            <p>
                &copy; 2021 Đăng nhập. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                                                                          target="blank">W3layouts</a>| Develop by<a href="#"> HLG Team</a>
            </p>
        </div>

    </div>

    <!-- fontawesome v5-->
    <script src="~/AdminStyle/Login/js/fontawesome.js"></script>

</body>

</html>
