
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="~/AdminStyle/Login/fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="~/AdminStyle/Login/css/style.css" type="text/css" media="all" />
</head>
<body>
    <div class="signinform">
       <h4></h4>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <form action="#" method="post">
                        <div class="input-group">
                            <span><i class="fas fa-user" aria-hidden="true"></i></span>
                            <input type="text" placeholder="Tên đăng nhập" required="" name="userName">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="Password" placeholder="Mật khẩu" required="" name="passwordd">
                        </div>
                        <div class="form-row bottom">
                            <div class="form-check">
                                <input type="checkbox" id="remenber" name="remenber" value="remenber">
                                <label for="remenber"> Nhớ mật khẩu?</label>
                            </div>
                            <a href="#url" class="forgot">Quên mật khẩu?</a>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
                    </form>
              
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->
        <div class="footer">
            <p>
                &copy; 2021 Đăng nhập. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                                                                          target="blank">W3layouts</a>| Develop by<a href="#">HLG Team</a>
            </p>
        </div>
        <!-- footer -->
    </div>

    <!-- fontawesome v5-->
    <script src="~/AdminStyle/Login/js/fontawesome.js"></script>

</body>

</html>
