
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(document).ready(function () {
        var password = document.getElementById("Password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Nhập lại mật khẩu chưa trùng khớp!");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    });</script>
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thông tin tài khoản</li>
                <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- pricing -->
        <section class="pricing">

            <div class="card mb-3">
                <div class="p-3 card card_border">
                  
                  

                    <div class="card-body">

                        @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label for="exampleInputName" class="input__label">Password old</label>
                                <input type="password" name="CurrentPassword" class="form-control login_text_field_bg input-style" id="exampleInputName" aria-describedby="emailHelp" placeholder="" required="" autofocus="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="input__label">New password</label>
                                <input type="password" name="NewPassword" class="form-control login_text_field_bg input-style" id="Password" aria-describedby="emailHelp" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="input__label">Re-Enter password</label>
                                <input type="password" name="confirm_password" class="form-control login_text_field_bg input-style" id="confirm_password" placeholder="" required="">
                            </div>

                            <div class="d-flex align-items-center flex-wrap justify-content-between">
                                <button type="submit" id="btnSave" class="btn btn-primary btn-style mt-4">Submit</button>

                            </div>
                        }

                    </div>
                    
                </div>
            </div>


        </section>


    </div>
</div>

